* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(19, 96, 190);
}

.container {
  margin-top: 325px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.persegi {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: middle;
}

.deskripsi {
  margin: 0 30px 10px 30px;
}

.deskripsi p {
  text-align: left;
}

#hasil {
    margin: 10px;
}

input[type="number"] {
  width: 90%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0 10px;
  margin: 5px 0;
}

input[type="number"]:hover {
    border-color: black;
    outline: none;
}

input[type="number"]:focus{
    border-color: rgb(0, 94, 255);
    outline:none;
}

button[type="button"]{
    margin: 5px 0;
    border: 1px solid rgb(76, 137, 243);
    background-color: rgb(76, 137, 243);
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
}

button[type="button"]:hover{
    border-color: rgb(48, 120, 245);
    background-color: rgb(48, 120, 245);
    color: rgb(252, 252, 252);
    outline: none;
}

button[type="reset"] {
    margin-top: 10px; /* Add margin to create space between the "Hitung" and "Reset" buttons */
    margin-bottom: 10px; /* Adjusted margin to improve spacing */
    border: 1px solid rgb(253, 208, 28);
    background-color: rgb(253, 208, 28);
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
    float: right; /* Align the "Reset" button to the right */
}

button[type="reset"]:hover {
    border-color: rgb(224, 185, 29);
    background-color: rgb(224, 185, 29);
    color: rgb(252, 252, 252);
    outline: none;
}